* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

#datetime-picker {
  font-weight: normal;
  outline: none;
  margin-top: 20px;
  padding-left: 30px;
  margin-left: 25px;
  margin-bottom: 0px;
  height: 33px;
}

button[data-start] {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 12px;
  cursor: pointer;
}

.timer {
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  padding: 10px;
  gap: 8px;
}

.value {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
}

.label {
  margin-top: 0;
  font-size: 14px;
  text-transform: uppercase;
}

#datetime-picker {
  padding: 8px 12px;
  font-size: 16px;
}
