* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  max-width: 245px;
}

.form button {
  max-width: 245px;
}
